.input {
  @apply bg-gray-100 text-gray-500 px-4 py-1 rounded-md h-11 border border-gray-200 appearance-none w-auto box-border;
  &[type="file"] {
    &[type="file"] {
      padding: 0.35rem 0.875rem;
      overflow: hidden;
      width: 100%;
      &:hover:not([disabled]):not([focus]) {
        border-color: #c9c8ce;
      }
      &:not(:disabled):not([readonly]) {
        cursor: pointer;
      }
      &:-webkit-autofill,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:focus,
      &:-webkit-autofill:active {
        -webkit-text-fill-color: #000;
        -webkit-box-shadow: 0 0 0px 1000px #fff inset;
        box-shadow: 0 0 0px 1000px #fff inset;
        transition: background-color 5000s ease-in-out 0s;
      }
      &::file-selector-button {
        padding: 0.573rem 0.875rem;
        margin: -0.422rem -0.875rem;
        margin-inline-end: 0.875rem;
        color: #6f6b7d;
        background-color: #fff;
        pointer-events: none;
        border-color: inherit;
        border-style: solid;
        border-width: 0;
        border-inline-end-width: 1px;
        border-radius: 0;
        transition: all 0.2s ease-in-out;
      }
      &:hover:not(:disabled):not([readonly])::file-selector-button {
        background-color: #f2f2f2;
      }
      @media (prefers-reduced-motion: reduce) {
        &::file-selector-button {
          transition: none;
        }
      }
      &:disabled {
        background-color: rgba(75, 70, 92, 0.08);
        opacity: 1;
        cursor: not-allowed;
      }
    }
  }
}
.checkbox {
  @apply rounded cursor-pointer w-5 h-5 appearance-none bg-white bg-no-repeat bg-center bg-contain border-2 border-solid border-gray-300 align-[-0.2rem];
  &:checked {
    @apply shadow-md;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='13' viewBox='0 0 15 14' fill='none'%3E%3Cpath d='M3.41667 7L6.33333 9.91667L12.1667 4.08333' stroke='%23fff' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  }
  &.blue:checked {
    @apply bg-blue-700 border-blue-700;
  }
  &.red:checked {
    @apply bg-rose-600 border-rose-600;
  }
  &.gray:checked {
    @apply bg-zinc-500 border-zinc-500;
  }
  &:disabled:not(:checked) {
    @apply bg-gray-300 pointer-events-none filter-none opacity-50;
    + label {
      @apply opacity-50;
    }
  }
  &:disabled {
    @apply opacity-50;
    + label {
      @apply opacity-50;
    }
  }
  + label {
    @apply cursor-pointer;
  }
}
.radio {
  @apply translate-y-[0.1rem] rounded-full cursor-pointer w-5 h-5 mr-2 appearance-none bg-white bg-no-repeat bg-center bg-contain border-2 border-solid border-gray-300 align-[-0.2rem];

  &:checked {
    @apply shadow-md;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='11' height='13' viewBox='0 0 15 14' fill='none'%3E%3Cpath d='M3.41667 7L6.33333 9.91667L12.1667 4.08333' stroke='%23fff' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  }
  &.blue:checked {
    @apply bg-blue-700 border-blue-700;
  }
  &.red:checked {
    @apply bg-rose-600 border-rose-600;
  }
  &.gray:checked {
    @apply bg-zinc-500 border-zinc-500;
  }
  &.green:checked {
    @apply bg-green-500 border-green-500;
  }
  &:disabled:not(:checked) {
    @apply bg-gray-300 pointer-events-none filter-none opacity-50;
    + label {
      @apply opacity-50;
    }
  }
  &:disabled {
    @apply opacity-50;
    + label {
      @apply opacity-50;
    }
  }
  + label {
    @apply cursor-pointer;
  }
}

.textarea {
  @apply bg-gray-100 text-gray-500 px-4 py-1 rounded-md border border-solid border-gray-200 appearance-none w-auto box-border;
}
.btn {
  @apply inline-flex h-16 items-center px-5 rounded-full bg-black text-white justify-center text-lg;
}

.gnb {
  a {
    @apply rounded-full bg-white py-3 px-8 font-bold transition-all duration-500;
    &.--active {
      @apply bg-teal-700 text-white;
    }
  }
}

[class*="btn-"] {
  &.xl {
    @apply px-7 py-[0.63rem] text-base;
    svg {
      @apply w-5 h-5;
    }
  }
  &.xl2 {
    @apply px-9 py-4 text-lg;
  }
  &.sm {
    @apply px-3 py-2 text-xs font-normal;
  }
  &[disabled] {
    @apply grayscale opacity-50 cursor-not-allowed;
  }
  svg {
    @apply w-4 h-4;
  }
}

.btn-blue {
  @apply relative overflow-hidden bg-blue-700 text-white text-sm font-bold px-5 py-2 inline-flex items-center gap-1 rounded-md  justify-center hover:brightness-110 transition-all duration-500;
  &-label {
    @apply border-blue-700 border bg-blue-50 text-blue-700 hover:bg-blue-700 hover:text-white text-sm font-bold px-5 py-2 inline-flex items-center gap-1 rounded-md transition-all duration-300;
  }
  &-outline {
    @apply border-blue-700 border-solid border bg-blue-50 text-blue-700 hover:bg-blue-700 hover:text-white text-sm font-bold px-5 py-2 inline-flex items-center gap-1 rounded-md transition-all duration-300;
  }
}
.btn-red {
  @apply bg-rose-600 text-white text-sm font-bold px-5 py-2 inline-flex items-center gap-1 rounded-md  justify-center hover:brightness-110 transition-all duration-500;
  &-label {
    @apply border-rose-600 border bg-red-50 text-rose-600 hover:bg-rose-600 hover:text-white text-sm font-bold px-5 py-2 inline-flex items-center gap-1 rounded-md transition-all duration-300;
  }
  &-outline {
    @apply border-rose-600 border-solid border bg-red-50 text-rose-600 hover:bg-rose-600 hover:text-white text-sm font-bold px-5 py-2 inline-flex items-center gap-1 rounded-md transition-all duration-300;
  }
}
.btn-gray {
  @apply bg-zinc-400 text-white text-sm font-bold px-5 py-2 inline-flex items-center gap-1 rounded-md  justify-center hover:brightness-110 transition-all duration-500;
  &-label {
    @apply border-zinc-400 border bg-gray-50 text-zinc-400 hover:bg-zinc-400 hover:text-white text-sm font-bold px-5 py-2 inline-flex items-center gap-1 rounded-md transition-all duration-300;
  }
  &-outline {
    @apply border-zinc-400 border-solid border bg-gray-50 text-zinc-400 hover:bg-zinc-400 hover:text-white text-sm font-bold px-5 py-2 inline-flex items-center gap-1 rounded-md transition-all duration-300;
  }
}
.btn-green {
  @apply bg-green-600 text-white text-sm font-bold px-5 py-2 inline-flex items-center gap-1 rounded-md  justify-center hover:brightness-110 transition-all duration-500;
  &-label {
    @apply border-zinc-500 border bg-green-50 text-green-500 hover:bg-green-500 hover:text-white text-sm font-bold px-5 py-2 inline-flex items-center gap-1 rounded-md transition-all duration-300;
  }
  &-outline {
    @apply border-green-500 border-solid border bg-green-50 text-green-500 hover:bg-green-500 hover:text-white text-sm font-bold px-5 py-2 inline-flex items-center gap-1 rounded-md transition-all duration-300;
  }
}
.btn-lightgray-circle {
  @apply w-10 h-10 rounded-full transition-all  duration-300 bg-gray-100 hover:bg-blue-700 inline-flex items-center justify-center;
  svg {
    @apply w-5 h-5 transition-all  duration-300;
  }
  &:hover {
    svg {
      @apply text-white;
    }
  }
}
